.links .form-links{
    text-decoration: none;
    font-size: 30px;
}
.links .form-links:hover{
    background-color: gold;
    color: black;
}
.links{
    text-align: center;
}
.home-title{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.error_msg{
    color: red;
    font-size: 17px;
}
.sign_up{
    background-color:midnightblue;
    width:100px;
    height: 35px;
    font-size: 20px;
    color: white;
}
.sign_up:hover{
    background-color:brown;

}
.login_button{
    background-color:midnightblue;
    width:100px;
    height: 35px;
    font-size: 20px;
    color: white;
}
.login_button:hover{
    background-color:brown;

}
.welcome_dashboard{
    font-size: 30px;
    
}